<div class="container-big-card">
    <div class="big-card-img">
        <img 
        src="https://www.patasdacasa.com.br/sites/patasdacasa/files/styles/webp/public/noticias/2022/09/gato-cinza-tudo-que-voce-precisa-saber-sobre-essa-cor-de-pelagem.jpg.webp?itok=qFPzVhz0" 
        alt=""
        srcset="">
    </div>
    <div class="big-card-title">
        <h1><a href="">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card-description">
        <p><a href="">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui nisl, facilisis in vehicula non, scelerisque eget turpis. Praesent posuere diam ante, vel sodales ipsum condimentum vitae. Vestibulum eu lectus porta, aliquet ipsum nec, auctor orci. Duis volutpat venenatis magna, quis malesuada massa euismod vitae. 
        </a>
        </p>
    </div>
</div>