.small-card-container {
    /* border: 1px solid #fff; */
    width: 700px;
}

.container-small-card-content {
    display: flex;
    flex-direction: row;
}

.small-card-img img{
    width: 200px;
    min-width: 200px;
    height: 130px;
    margin-right: 20px;
}

.small-card-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-card-container-separator {
    margin-top: 10px;
    margin-bottom: 15px;
}